<div>Phim sắp chiếu </div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
  <ng-template carouselSlide>
    <app-item-phim></app-item-phim>
  </ng-template>
</owl-carousel-o>
<div>Some tags after</div>
